@use '../../../assets/styles' as *;

.row-container {
    height: 82px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;

    box-sizing: border-box;
    padding: 0 20px 0 5px;

    &::after {
        content: '';
        position: absolute;
        left: 10px;
        right: 10px;
        bottom: 0;

        border-bottom: $separator;
    }
}

.row-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.row-place {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 100%;
    letter-spacing: -0.3px;

    min-width: 50px;
    text-align: center;

    color: #919191;
}

.row-info {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.row-info-name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 0.3px;

    color: $dark-font-color;
}

.row-info-group {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: -0.3px;

    color: #909090;
}

.row-price {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 100%;
    letter-spacing: 0.6px;

    // color: $primary-color;
    color: $primary-color;
}
