// colors of the project

$main-bakground-color: #fcfcfc;

$primary-color: #2f80ed;
$alternative-color: #e0e0e0;

$navbar-color: rgba(252, 251, 252, 0.85);
$navbar-link-active-color: #111;
$navbar-link-color: #bdbec5;

$card-color: #ffffff;
$card-border-color: #e8e8e8;
$card-shadow-color: rgba(0, 0, 0, 0.15);
$card-shadow-blur: blur(18px);
$card-operations-color: #f2f2f2;
$card-operations-hover-color: #c6c6c6;

$separator: 0.5px solid rgba(128, 128, 128, 0.275);
$separator-color: rgba(128, 128, 128, 0.275);

$news-bauman-logo-color: #bababa;
$news-stocks-card-color: #f2f2f2;

$clicker-btn-color: #2169d1;
$clicker-btn-shadow: rgba(4, 14, 114, 0.74);
$clicker-btn-active: #3a70bcc1;
$clicker-btn-blur: blur(146.725px);

$stock-cards-color: #f6f7f7;

$leaderboard-header-color: linear-gradient(266.15deg, #176dea -3.77%, #0552c2 102.39%);

$dark-font-color: #111;
$light-font-color: #fcfbfc;
$grey-font-color: #7b7b7b;
$grey-light-font-color: #b1b1b1;

$green-font-color: #31a04a;
$red-font-color: #b8353d;